.btn{
    padding: 0.5rem;
    background-color: var(--green-color);
    border-radius: 0.4rem;
    color: var(--pink-color);
    font-size: 1.1rem;
  }
  .btn:hover{
    color: whitesmoke;
    letter-spacing: 0.05rem;
    cursor: pointer;
  }
  .btn__group{
    display: flex;
    gap: 1rem;
  }