:root {
  --pink-color: #FAE7E0;
  --salmon-color: #F5AC81;
  --green-color: #9ACABE;
  --blur: 10px;
}
.html__heigth {
  position: relative;
  min-height: 100vh;
}
body {
  min-height: 100%;
  background-color: var(--pink-color);
  font-family: 'Nunito', sans-serif;
}
main {
  padding-bottom: 10vh;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}